@tailwind base;
@tailwind components;
@tailwind utilities;

.default-ltr-cache-1d568uk {
  width: 9.25rem;
  height: 2.5rem;
  color: rgb(229,9,20);
  fill: currentColor;
  display: block;
  margin-left: 3%;
}